@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');

:root{
    --mainTextColor-light:#000;
    --secondaryTextColor-light:rgb(51 51 51);
    --mainLinkColor-light:#d69917;
    --mainBorderColor-light:rgb(218, 218, 218);
    --mainBgColor-light:rgb(249, 250,251);

    --mainTextColor-dark:#fff;
    --secondaryTextColor-dark:#adb0b1;
    --mainLinkColor-dark:rgb(30, 190,214);
    --mainBorderColor-dark:#2b3031;
    --mainBgColor-dark:#131415;

    --mainTextColor:var(--mainTextColor-dark);
    --secondaryTextColor:var(--secondaryTextColor-dark);
    --mainLinkColor:var(--mainLinkColor-dark);
    --mainBorderColor:var(--mainBorderColor-dark);
    --mainBgColor:var(--mainBgColor-dark);
}

* {
    font-family: "Readex Pro";
    line-height: 1.5em;
    box-sizing: border-box;
    background-color: var(--mainBgColor);
}


p, span, li, table, button, select {
    color: var(--secondaryTextColor);
    font-size: 1em;
}


h1, h2, h3, h4, h5, h6, input {

    color: var(--mainTextColor);
}

table, td {
    border: 1px solid var(--mainBorderColor);
    line-height: 1.2rem;
    }

thead, tfoot {
    background-color: var(--mainBgColor);
    color: var(--mainTextColor);
    font-weight: 300;
    }

    button {
        transition-duration: 0.4s;
        max-width: 45vw;
        cursor: pointer;
        border-radius: 4px;
        border: none;
        padding: 15px 32px;
        text-align: center;
        display: inline-block;
        text-transform: lowercase;
        border: 2px solid var(--mainBorderColor);
    }

    button:hover {
        color: var(--mainLinkColor);
        background-color: var(--mainBgColor)

    }

    .inner-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-hidden {
        /* background-color: var(--mainBorderColor-); */
        height: 2rem;
        font-size: 2rem;
        display: flex;
        text-decoration: none;
        position: fixed;
        bottom: .75rem;
        right: 0;
        align-items: center;
        justify-content: space-evenly;
        overflow: hidden;
        width: 10vw;
    }
    
    .navbar-hidden a, button {
        text-decoration: none;
        color: var(--mainTextColor);
        background-color: var(--mainBorderColor-dark);
        display: none;
        text-align: center;
        padding: 14px 16px;
    }


    .navbar {
        background-color: var(--mainBorderColor-dark);
        height: 15rem;
        font-size: 2rem;
        display: flex;
        flex-direction: row-reverse;
        text-decoration: none;
        position: fixed;
        bottom: 0;
        right: 0;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
        width: 99vw;
        text-transform: uppercase;
        padding: 0px 10vw 0px 40px;
    }
    .navbar a, button {
        text-decoration: none;
        color: var(--mainTextColor);
        background-color: var(--mainBorderColor-dark);
        display: flex;
        text-align: center;
        padding: 14px 16px;
    }

    .navbutton:hover {
        cursor: pointer;
        color: rgb(216, 41, 41);
    }

    .navbutton {
        font-size: 1.5rem;
    }

    .navbar-hidden .navbutton {
        display: none;
    }

    .navbar a:hover {
        color: var(--mainLinkColor);
    }

    .navbar-hidden a:hover {
        color: var(--mainLinkColor);
    }

    .navbar-active {
        color: var(--mainLinkColor-light)!important;
    }

    .icon {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 2px;
    }

    .change {
        cursor: pointer;
        position: absolute;
        right: 2px;
        bottom: .5rem;
    }


    .change:hover {
        background-color: var(--mainLinkColor);
    }

    .bar1, .bar2, .bar3 {
        /* cursor: pointer; */
        width: 35px;
        height: 5px;
        background-color: var(--mainTextColor);
        margin: 6px 0;
        transition: 0.4s;
      }

      .change .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
      }
      
      .change .bar2 {opacity:0;}
  
      .change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
      }

    .edit-nav {
        margin-top: 70px;
        margin-bottom: 60px;
        }

    .edit-nav-active {
        color: var(--mainLinkColor-light)!important;
        }

    .edit-nav a {
        color: var(--mainTextColor);
        font-size: 1.5rem;
        font-weight: 500;
        text-decoration: none;
        padding: 20px;
        }

    .edit-nav a:hover {
        color: var(--mainLinkColor);
        }

    .modal-overlay {
        z-index: 9999;
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(51, 51, 51, 0.271);
        display: flex;
        justify-content: center;
        align-items: center;
        }

    .modal-box {
        display: block;
        background: rgb(180, 180, 180);
        width: 85%;
        height: auto;
        padding: 1rem;
        border-radius: 1rem;
        border: 2px solid var(--mainLinkColor-light);
        color: var(--mainTextColor);
        }

        .dashboard {
            display: flex;
            flex-direction: column;
          
            /* align-items: center; */
        }

        .time-card-container {
            display: flex;
            justify-content: space-between;
            
        }

        .time-card-container button {
            display: flex;
            height: 20px;
            width: 20px;
            align-items: center;
            justify-content: center;
        }
        .time-card-container button:hover {
            color: var(--mainLinkColor);
        }

        .task-add-invoice {
            cursor: pointer;
        }

        @media (min-width: 700px) {
            .modal-box {
                width: 50vw;
                max-width: 500px;
            }

            .navbar-hidden a, .navbar-hidden button, .navbar a, .navbar button {
                display: inline-block;
            }        

            .navbar, .navbar-hidden {
                width: 20vw;
                max-width: 222px;
                background-color: var(--mainBorderColor);
                height: 111vh;
                position: fixed;
                left: 0;
                top: 0;
                flex-direction: column;
                justify-content: space-between;
                padding: 0px 0px 50vh 0px;
                text-transform: uppercase;
                font-size: 1.5rem;
                margin-right: 200px;
                display: flex;
                align-items: center;
                
            }

            .nerd {
                display: flex;
                flex-direction: column;
                margin-top: 20vh;
                margin-bottom: 50vh;
                /* width: 50vw; */
            }

            .inner-content {
                margin-left: 20vw;
            }

            .icon {
                display: none;
            }

            .change {
                display: none;
            }

            .navbutton {
                font-size: 1rem;
            }

            .navbar-hidden .navbutton {
                display: inline-block;
            }
        }